@page "/privacy-policy"

<!-- Titre principal -->
<MudText Typo="Typo.h3" Class="mb-10">
    Politique de Confidentialité
</MudText>

<!-- Introduction -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Introduction
</MudText>
<MudText Class="mb-5">
    Chez Matcha Web, nous nous engageons à protéger votre vie privée et à garantir la sécurité de vos données personnelles. Cette Politique de Confidentialité décrit comment nous collectons, utilisons, stockons et protégeons vos informations.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Collecte des Données Personnelles -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Person" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Collecte des Données Personnelles
</MudText>
<MudText Typo="Typo.h5" Class="mb-3">Types de Données Collectées</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Informations d’Identification :</strong> Nom, prénom, adresse email, numéro de téléphone.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Informations de Connexion :</strong> Nom d’utilisateur, mot de passe (crypté).</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Informations de Profil :</strong> Genre, préférences sexuelles, biographie, intérêts, photos, localisation GPS.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Données de Navigation :</strong> Adresse IP, type de navigateur, pages visitées, durée de la visite.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Communications :</strong> Messages échangés via le chat, notifications reçues.</li>
    </ul>
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Utilisation des Données -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Work" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Utilisation des Données
</MudText>
<MudText Typo="Typo.h5" Class="mb-3">Finalités de Traitement</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Fourniture du Service :</strong> Permettre l’inscription, la connexion, la gestion des profils, la recherche de correspondances, et la communication entre utilisateurs.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Amélioration du Service :</strong> Analyser les données de navigation pour optimiser l’expérience utilisateur et développer de nouvelles fonctionnalités.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Sécurité :</strong> Détecter et prévenir les fraudes, les abus et autres comportements illicites.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Communication :</strong> Envoyer des notifications, des mises à jour, et des informations pertinentes concernant votre compte.</li>
    </ul>
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Partage des Données -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Share" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Partage des Données
</MudText>
<MudText Typo="Typo.h5" Class="mb-3">Avec Qui Partageons-Nous Vos Données ?</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Prestataires de Services :</strong> Partenaires techniques et fournisseurs de services nécessaires au fonctionnement de la plateforme.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Autorités Légales :</strong> En cas d’obligation légale ou de demande des autorités compétentes.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Autres Utilisateurs :</strong> Vos informations de profil sont visibles par les autres utilisateurs selon vos paramètres de confidentialité.</li>
    </ul>
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Sécurité des Données -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Security" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Sécurité des Données
</MudText>
<MudText Typo="Typo.h5" Class="mb-3">Mesures de Sécurité</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Cryptage :</strong> Toutes les données sensibles, notamment les mots de passe, sont cryptées.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Contrôles d’Accès :</strong> Accès restreint aux données personnelles uniquement aux personnes autorisées.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Surveillance :</strong> Systèmes de détection d’intrusion et de surveillance pour protéger contre les accès non autorisés.</li>
    </ul>
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Conservation des Données -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Conservation des Données
</MudText>
<MudText Class="mb-5">
    Nous conservons vos données personnelles aussi longtemps que nécessaire pour les finalités décrites dans cette Politique de Confidentialité, sauf si une durée de conservation plus longue est requise ou permise par la loi.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Vos Droits -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.HowToReg" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Vos Droits
</MudText>
<MudText Typo="Typo.h5" Class="mb-3">Droits</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Droit d’Accès :</strong> Vous avez le droit de demander l’accès à vos données personnelles que nous détenons.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Droit de Rectification :</strong> Vous pouvez demander la correction de données inexactes ou incomplètes.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Droit à l’Effacement :</strong> Vous avez le droit de demander la suppression de vos données personnelles sous certaines conditions.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Droit à la Portabilité :</strong> Vous pouvez demander à recevoir vos données dans un format structuré et couramment utilisé.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Droit d’Opposition :</strong> Vous pouvez vous opposer au traitement de vos données personnelles pour des raisons légitimes.</li>
    </ul>
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Modifications -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Modifications de la Politique de Confidentialité
</MudText>
<MudText Class="mb-5">
    Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. Les modifications seront publiées sur cette page et entreront en vigueur immédiatement après leur publication.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Contact -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.ContactMail" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")" />
    Contact
</MudText>
<MudText Class="mb-15">
    Pour toute question ou demande concernant cette Politique de Confidentialité, veuillez nous contacter à :
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Email :</strong> privacy@matchaweb.com</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Adresse :</strong> 123 Rue de l’Amour, 75000 Paris, France</li>
    </ul>
</MudText>