@page "/terms-of-use"

<!-- Titre principal -->
<MudText Typo="Typo.h3" Class="mb-10">
    Mentions Légales
</MudText>

<!-- Introduction -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Introduction
</MudText>
<MudText Class="mb-5">
    Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 Juin 2004 pour la Confiance dans l’Économie Numérique, il est précisé aux utilisateurs du site Matcha Web l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Informations Générales -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Article" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Informations Générales
</MudText>
<MudText Typo="Typo.h5" Class="mb-3">Éditeur du Site</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Nom de l’entreprise :</strong> Matcha Web S.A.S.</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Adresse :</strong> 123 Rue de l’Amour, 75000 Paris, France</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Numéro de Téléphone :</strong> +33 1 23 45 67 89</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Adresse Email :</strong> contact@matchaweb.com</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Numéro de SIRET :</strong> 123 456 789 00010</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Directeur de la Publication :</strong> [Nom du Directeur]</li>
    </ul>
</MudText>

<MudText Typo="Typo.h5" Class="mb-3">Hébergement</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Nom de l’hébergeur :</strong> OVHcloud</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Adresse :</strong> 2 Rue Kellermann, 59100 Roubaix, France</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Numéro de Téléphone :</strong> +33 9 72 10 10 07</li>
    </ul>
</MudText>

<MudText Typo="Typo.h5" Class="mb-3">Développement et Maintenance</MudText>
<MudText Class="mb-5">
    <ul>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Nom de la Société :</strong> DevSolutions</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Adresse :</strong> 456 Avenue des Développeurs, 75000 Paris, France</li>
        <li><strong Style="@($"color:{Colors.DeepPurple.Accent4};")">Numéro de Téléphone :</strong> +33 1 98 76 54 32</li>
    </ul>
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Propriété Intellectuelle -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Copyright" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Propriété Intellectuelle
</MudText>
<MudText Class="mb-5">
    L’ensemble des contenus présents sur le site Matcha Web, incluant, de manière non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Matcha Web à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
    <br /><br />
    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de Matcha Web. Cette représentation ou reproduction constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Responsabilité -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Warning" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Responsabilité
</MudText>
<MudText Class="mb-5">
    Matcha Web ne pourra être tenue responsable des erreurs rencontrées sur le site, problèmes techniques, ou interprétation des informations présentées. L’utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Liens Hypertextes -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Link" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Liens Hypertextes
</MudText>
<MudText Class="mb-5">
    Le site Matcha Web contient des liens hypertextes vers d’autres sites présents sur le réseau Internet. Matcha Web ne peut être tenue responsable du contenu de ces sites externes.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Données Personnelles -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Person" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Données Personnelles
</MudText>
<MudText Class="mb-5">
    Pour plus d’informations sur la gestion de vos données personnelles, veuillez consulter notre Politique de Confidentialité.
</MudText>

<MudDivider Class="mb-5 mt-5" />

<!-- Droit Applicable et Juridiction -->
<MudText Typo="Typo.h4" Class="mb-3 mt-5">
    <MudIcon Icon="@Icons.Material.Filled.Gavel" Class="mr-2" Style="@($"color:{Colors.DeepPurple.Accent4};")"/>
    Droit Applicable et Juridiction
</MudText>
<MudText Class="mb-15">
    Tout litige en relation avec l’utilisation du site Matcha Web est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
</MudText>